<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IndexDao">
	<!-- 根据id查询一个商品 -->
	<select id="selectGoodsById" resultType="Goods" parameterType="Integer">
		select * from goodstable where id=#{id}
	</select>

	<!-- 搜索 -->
	<select id="search" resultType="Goods" parameterType="String">
		select * from GOODSTABLE where gname like concat('%',#{mykey},'%')
	</select>

	<!-- 最新商品 -->
	<select id="getLastedGoods" resultType="Goods" parameterType="Goods">
		select * from goodstable 
	</select>

</mapper>