<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminGoodsDao">
	<!-- 查询商品 -->
	<select id="selectGoods" resultType="Goods">
		select * from goodstable
	</select>
	
	<!-- 分页查询商品 -->
	<select id="selectAllGoodsByPage" resultType="Goods" parameterType="map">
		select * from goodstable order by id limit #{startIndex},#{perPageSize}
	</select>
	
	<!-- 添加商品 -->
	<insert id="addGoods" parameterType="Goods">
		insert into goodstable (id,gname,gtype,gcategory,gfeatures,gprice,gstore,gpicture) 
		values (null,#{gname},#{gtype},#{gcategory},#{gfeatures},#{gprice},#{gstore},#{gpicture})
	</insert>

	<!-- 根据id查询一个商品 -->
	<select id="selectGoodsById" resultType="Goods" parameterType="Integer">
		select * from goodstable  where id=#{id}
	</select>

	<!-- 删除多个商品 -->
	<delete id="deleteGoods" parameterType="List">
		delete from goodstable where id in 
		<foreach item="item" index="index" collection="list"
		open="(" separator="," close=")"	>
			#{item}
		</foreach>
	</delete>
	
	<!-- 删除单个商品 -->	
	<delete id="deleteAGoods" parameterType="Integer">
		delete from goodstable where id=#{id}
	</delete>
	
	<!-- 修改一个商品 -->
	<update id="updateGoodsById" parameterType="Goods">
		update goodstable 
		<set>
			<if test="gname != null">
	        	gname = #{gname},
	      	</if>
	      	<if test="gtype != null">
	       		gtype = #{gtype},
	      	</if>
	      	<if test="gcategory != null">
	       		gcategory = #{gcategory},
	      	</if>
	      	<if test="gfeatures != null">
	       		gfeatures = #{gfeatures},
	      	</if>
	      	<if test="gprice != null">
	       		gprice = #{gprice},
	      	</if>
	      	
	      	<if test="gstore != null">
	        	gstore = #{gstore},
	      	</if>
	      	<if test="gpicture != null">
	        	gpicture = #{gpicture},
	      	</if>
    	</set>
    		where id = #{id}
	</update>
	
	<!-- 查询已订购的关联商品 -->
	<select id="selectOrderdetailGoods" parameterType="Integer" resultType="map">
		select * from orderdetail where goodstable_id=#{id}
	</select>


</mapper>